---
import { icons_tech } from '../../utils/icons'
---
<aside>
    <ul class="social-icons">
        <li>
            <img src={icons_tech.github} width="34px"/>
        </li>
        <li>
            <img src={icons_tech.linkedin} width="34px"/>
        </li>
        <li>
            <img src={icons_tech.codepen} width="34px"/>
        </li>
    </ul>
</aside>

<style>
    img {
        padding-block: 20px;
    }
    .social-icons {
        position: fixed;
        list-style: none;
        left: 0;
        top: 70dvh;
    }
</style>