---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/Shared/NavBar.astro';
import SocialMedia from '../components/Shared/SocialMedia.astro';
import Landing from '../components/Sections/Landing.astro';
import Experience from '../components/Sections/Experience.astro';
import { EmployeData } from '../data'
---

<Layout title="Bienvenido a mi portafolio">
	<main>
		<NavBar />
		<SocialMedia />
		<Landing {...EmployeData}/>
		<Experience />
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: auto;
		width: 1300px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 16px;
		line-height: 1.6;
	}
</style>
